<footer class="bg-black grey-2 w-100 pb-4 {{.Title}}">

	<div class="">

		<div class="">

			<div class="ttu f6 f5-ns tl lh-0">
				<!-- TODO: EDITABLE -->
				<p>Clipp Center,5th floor,39th street corner 11th avenue,</p>
				<p>BGC Taguig City 1201 Philippines</p>
			</div>
			<div class="ttu f6 f5-ns tr lh-0">
				<!-- TODO: EDITABLE -->
				<p>+63 917 850 3912 </p>
				<p>STUDIO@CARLOCALMACONSULTANCY/COM</p>
			</div>
		</div>
	</div>

</footer>

<script src="/app.js"></script>

</body>

</html>
