<footer class="grey-2 w-100 {{ .Title }}">

	<div class="ttu f6 f5-ns fl tl lh-0 w-100">
		<p>{{ .Site.Data.footer.params.address1 }}</p>
	</div>

	<div class="ttu f6 f5-ns lh-0 w-100">
		<span class="fl">{{ .Site.Data.footer.params.address2 }}</span>
		<span class="fr">{{ .Site.Data.footer.params.phonenumber }}</span>
	</div>

	<div class="ttu f6 f5-ns tr fr lh-2 w-100 db">
		<p class="footer-right">{{ .Site.Data.footer.params.emailaddress }}</p>
	</div>

</footer>

<script src="/app.js"></script>