<nav class="overflow-x-scroll overflow-x-visible-ns bg-black relative">

	<!-- Container for left navigation part -->
	<div class="left-nav">
		<div class="logotext-nav dib">
			<!-- Logo Text TODO: EDITABLE -->
			<a href="/" class="white link f3 f2-ns lh-title ml1 ttu"><span class="logo-font">Carlo Calma Consultancy Inc.</span></a>
			
			<!-- Primary Nav -->
			<ul class="tr lh-0">
				<!-- TODO: EDITABLE -->
				<li class="dib"><a href="/works" class="link dim grey-2 f6 f5-ns mr1 ttu">Works</a></li>

				<li class="dib"><a href="/journal" class="link dim grey-2 f6 f5-ns mr1 ttu">Journal</a></li>

				<li class="dib"><a href="/about" class="link dim grey-2 f6 f5-ns mr1 ttu">About</a></li>
				<li class="dn dib-ns">
					<input type="text" placeholder="Search">
				</li>

			</ul>
		</div>

		<!-- Logo TODO: EDITABLE -->
		<img src="/img/favicon-32x32.png" alt="Carlo Calma Consultancy Inc. Logo" class="dn dib-ns"/>
	</div>
</nav>
