<nav class="overflow-hidden overflow-x-visible-ns bg-grey-4 sticky relative {{ .Title }} flex justify-between w-100" id="main">

	<!-- Container for left navigation part -->
	<div class="left-nav">
		<div class="logotext-nav dib">
			<!-- Logo Text TODO: EDITABLE -->
      <a href="/" class="white link f3 f2-ns lh-title ml1 ttu pointer dib">
        <span class="logo-font">Carlo Calma</span>
      </a>
      
			<div class="part2-logotext">
				<a href="/" class="white link f3 f2-ns lh-title ttu pointer"><span class="logo-font">Consultancy Inc.</span></a>
				<!-- Primary Nav -->
				<div class="tr lh-0 flex justify-between nav-list {{ .Title }}">
					<!-- TODO: EDITABLE -->
					<div class=""><a href="/works" class="link dim grey-2 f6 f6-ns pointer ttu works-{{.Title}}">Works</a></div>
	
					<div class=""><a href="/process" class="link dim grey-2 f6 f6-ns pointer ttu process-{{.Title}}">Process</a></div>
	
					<div class=""><a href="/about" class="link dim grey-2 f6 f6-ns pointer ttu about-{{.Title}}">About</a></div>
	
					<div class=" not-in-{{ .Title }} dn-ns">
              <form class="searchForm" method="get" action="/search/">
                <input type="text" placeholder="Search" class="search" name="query"/>
              </form>
					</div>
				</div>
			</div>
			
			
		</div>

		<!-- Logo TODO: EDITABLE -->
		<a href="/">
			<img src="/img/carlocalma_logostudies.png" alt="Carlo Calma Consultancy Inc. Logo" class="dib not-in-{{ .Title }} logo-calma"/>
		</a>
	</div>

  <form class="searchForm" method="get" action="/search/">
    <input type="text" placeholder="Search" name="query" class="search ma2 dn dib-ns not-in-{{ .Title }}"/>
  </form>
</nav>


<!-- <nav class="sticky overflow-hidden overflow-x-visible-ns bg-grey-4 relative {{ .Title }} w-100" id="second" style="display: none">

    <div class="tr flex justify-between">
        <div style="width: 16rem;"><a href="/" class="link dim white f6 f6-ns pointer ttu" style="font-size: 1.5rem;"><span class="logo-font">Carlo Calma Consultancy Inc.</span></a> </div>
        
        <div class="mt2"><a href="/works" class="link dim grey-2 f6 f6-ns pointer ttu works-{{.Title}}">Works</a></div>

        <div class="mt2"><a href="/process" class="link dim grey-2 f6 f6-ns pointer ttu process-{{.Title}}">Process</a></div>

        <div class="mt2"><a href="/about" class="link dim grey-2 f6 f6-ns pointer ttu about-{{.Title}}">About</a></div>

        <div class=" not-in-{{ .Title }} ">
          <form class="searchForm" method="get" action="/search/">
            <input type="text" placeholder="Search" class="search-sticky mt2" name="query"/>
          </form>
        </div>
    </div>

  </nav> -->