<ul class="socialicons-list">
  <li class="dib">
    <a href="http://www.facebook.com/sharer.php?u={{.Parent.Permalink}}" target="_blank" class="link pointer dib facebook">{{.Site.Title}}</a>
  </li>
  <li class="dib">
    <a href="{{ .Site.Data.socialmedia.params.twitter }}" class="link pointer dib twitter"></a>
  </li>
  <li class="dib">
    <a href="{{ .Site.Data.socialmedia.params.pinterest }}" class="link pointer dib pinterest"></a>
  </li>
  <li class="dib">
    <a href="{{ .Site.Data.socialmedia.params.reddit }}" class="link pointer dib reddit"></a>
  </li>
  <li class="dib">
    <a href="{{ .Site.Data.socialmedia.params.linkedin }}" class="link pointer dib linkedin"></a>
  </li>
  <li class="dib">
    <a href="{{ .Site.Data.socialmedia.params.tumblr }}" class="link pointer dib tumblr"></a>
  </li>
</ul>
