@font-face {
	font-family: AauxProBlack;
	src: url(/fonts/AauxProBlack.ttf);
}

@font-face {
	font-family: AauxProLight;
	src: url(/fonts/AauxProLight.ttf);
}

@font-face {
	font-family: AdobeFnt19;
	src: url(/fonts/AdobeFnt19.lst);
}

@font-face {
	font-family: BebasNeue;
	src: url(/fonts/BebasNeue.otf);
}

@font-face {
	font-family: InfiniRegular;
	src: url(/fonts/infini-regular.otf);
}

@font-face {
	font-family: MinionPro-Regular;
	src: url(/fonts/MinionPro-Regular.otf);
}


.logo-font {
	font-family: BebasNeue;
}

html, body {
	width: 100%;
	background-color: rgba(188, 190, 192, 1);
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-3 {
	margin-bottom: 3rem;
}

.pagination__item {
	color: rgb(128, 128, 128);
}

.pagination__item--current {
	color:black;
}

img {
	border-radius: 0 !important;
}

.single-work p {
	margin: 0 0.5rem;
}

.single-work img {
	margin: 1rem 0;
}

.about-page > p {
	margin: 1rem 0.5rem;
}

.about-page > blockquote {
	margin:0 0.5rem;
}

.about-page > blockquote > p {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.logotext-nav {
	width: max-content;
}

footer.Home {
	position: absolute;
	bottom:0;
	z-index: 4;
	/* background-color: transparent;
    margin-top: -20%;
    z-index: 7;
    position: absolute; */
}

/* .more-container p, .more-container span 
{
	display: inline-block;
} */

/* journal toggle */

@keyframes showUsMore {
	from {opacity: 0;}
	to {opacity: 1;}
  }

@keyframes hideUsMore {
from {opacity: 1;}
to {opacity: 0;}
}

.more-container.animate > .full-content, .more-container > .truncated,
.more-container.animate > .less-caption, .more-container > .more-caption {
	display: block;
	animation: showUsMore 1000ms ease-in-out both;
}

.more-container > .full-content, .more-container.animate > .truncated,
.more-container > .less-caption, .more-container.animate > .more-caption{
	display: none;
	animation: hideUsMore 1000ms ease-in-out both;
}


@media (--breakpoint-not-small) {
	footer.Home { 
		bottom: -10%;
		color: white;
	}
}

nav.Home {
	background-color: black;
}

html.Home {
	background-color: black;
}

/* remove from page */
.not-in-Home {
	display:none;
}

.works-Works, .journal-Journals, .about-About {
	color: black;
}

.search {
	/* static widths */
	padding: 0;
    width: 111px;
    background-color:rgba(209,211,212,1);
    height: .9rem;
    border-radius: 0;
	line-height: 0;
}

.link:hover {
	text-decoration: none;
}

.search::focus {
	border: black solid 1px;
}

input::-webkit-input-placeholder {
	font-size: .7rem;
	color: rgb(182, 176, 173);
}

.lh-0 {
	line-height: 0;
}

.fluid img {
	margin-left: 50%;
	transform: translateX(-50%);
	max-width: none;
}

/* remove logo when In about page */
.not-in-About.logo-calma {
	display:none;
}

@media (--breakpoint-not-small) {
	.fluid img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		overflow: hidden;
	}

	.logo-calma {
		display:inline-block;
		padding-bottom: .5rem;
	}

	ul.socialicons-list li a {
		zoom: .6 !important;
	}
}

ul.socialicons-list li a {
	zoom: 0.4;
}

/* Social Media Sprite */

.facebook {
	background: url('/img/social-media-icons.gif') no-repeat -17px -13px;
	width: 42px;
	height: 42px;
}

.twitter {
	background: url('/img/social-media-icons.gif') no-repeat -65px -13px;
	width: 42px;
	height: 42px;
}

.pinterest {
	background: url('/img/social-media-icons.gif') no-repeat -113px -13px;
	width: 42px;
	height: 42px;
}

.reddit {
	background: url('/img/social-media-icons.gif') no-repeat -160px -12px;
	width: 44px;
	height: 44px;
}

.linkedin {
	background: url('/img/social-media-icons.gif') no-repeat -209px -13px;
	width: 42px;
	height: 42px;
}

.tumblr {
	background: url('/img/social-media-icons.gif') no-repeat -257px -13px;
	width: 42px;
	height: 42px;
}


/* 
Colors:
	Logo text:  white 
	Navigation: grey-2
	background-color: 188, 190, 192 : -grey 4
	logo text on not homepage: 217,217,217
	nav not active, footer: 128,128,128
	 active : 0 0 0
	 search bar: 209,211,212
	 body text: 0 0 0
	*/

:root {
	/* Colors */
	--primary: rgba(0, 0, 0, 1);
	--highlight: rgba(254, 213, 198, 1);
	--white: rgba(255, 255, 255, 1);
	--off-white: rgba(255, 253, 252, 1);
	--grey-1: rgba(245, 243, 242, 1);
	--grey-2: rgb(128, 128, 128);
	--grey-3: rgba(89, 87, 86, 1);
	--grey-4: rgba(188, 190, 192, 1);
	--black: rgb(0, 0, 0);

	/* Typography */
	--font-family: InfiniRegular, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	--line-height: 1.5;

	--font-size: 18px;
	--font-size-m: 20px;
	--font-size-l: 22px;

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

	/* Miscelaneous */
	--border-radius: .25rem;
	--hover-transition: all 150ms ease;
}
