<!doctype html>
<html lang="en" class="{{ .Title }}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115534131-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115534131-2');
  </script>
  <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
  <script type="text/javascript">
    (function(){
        emailjs.init("user_g2qxNcAcxrthv3d8vA87k");
    })();
  </script>
  {{ partial "head" . }}
  <body class="sans-serif relative" style="display: hidden;">
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <h3> Under Maintenance </h3>
    <script>
      $(document).ready(function() {

        document.body.style["display"] = "block";
        // get the #section from the URL
        var hash = window.location.hash; 
      if( hash ){
        console.log(hash);
        
        // scroll to accordion
        $('html, body').animate({
            scrollTop: $(hash).offset().top
        }, 'slow');

        // open accordion
        setTimeout(function(){
          $(hash).parent().addClass('animate');
        }, 1000);
      }
        
      });
    </script>
  </body>
</html>