<a href="{{ .Permalink }}" class="no-underline raise w-100 relative">
	{{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
	<div class="absolute bottom-0 w-100 bottom-1">
		<h2 class="f5 f4-ns white tc ttu d-ligatures">{{ .Params.headline }}</h2>
		<!-- <h2 class="f6 f5-ns white tc">{{ .Params.subheadline }}</h2> -->
	</div>
	
	<!-- <p class="mid-gray lh-title mb2">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
	<p class="mb0">{{ .Description }}</p>
	<p class="link b dib black mb0">Read more →</p> -->
</a>
