{{ define "main" }}

<div class="mw-100 mw6-ns center bg-grey-4 mt2 mb-3 container-{{ .Title }}" id="process-entries">
    <!-- LIST FOR Journal collection Items have description with a More link, shows Content for more on Click, Paginated by 3 -->
      {{ range $index, $element := (.Paginator 3).Pages.ByPublishDate }} 
      <div class="w-100 mb-3" >
              {{ .Render "embedded-youtube"}}
      </div>           
      {{ end }}

      {{ partial "pagination" . }}    
</div>


<script>
  console.log("Test");
  console.log("{{ .Title }}");
  console.log("{{ .Pages }}");
  
  // Find all YouTube videos
  var $allVideos = $("iframe[src^='//www.youtube.com']"),

  // The element that is fluid width
  $fluidEl = $("body");

  // Figure out and save aspect ratio for each video
  $allVideos.each(function() {

  $(this)
  .data('aspectRatio', this.height / this.width)

  // and remove the hard coded width/height
  .removeAttr('height')
  .removeAttr('width');

  });

  // When the window is resized
  $(window).resize(function() {

  var newWidth = $fluidEl.width();

  // Resize all videos according to their own aspect ratio
  $allVideos.each(function() {

  var $el = $(this);
  $el
  .width(newWidth)
  .height(newWidth * $el.data('aspectRatio'));

  });

  // Kick off one resize to fix all videos on page load
  }).resize();
</script>
{{end}}