{{ define "main" }}

<!-- {{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "title" .Title) }} -->
<div class="mw7 center bg-grey-4">
    
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
      <!-- List for Works Collection - Paginated with 5 -->
      {{ range $index, $element := (.Paginator 2).Pages.ByPublishDate }} 
            <div class="w-100-ns ph1-ns flex">
              {{ .Render "li"}}
            </div>
      {{ end }}
  </ul>
  <!-- TODO: Pagination with numbers -->
  {{ partial "pagination" . }}
</div>

{{end}}