{{ define "main" }}
<div class="mw-100 mw6-ns center bg-grey-4 mt2 mb-3 container-{{ .Title }}" id="work-entries">

  <!-- List for Works Collection - Paginated with 5 -->
  {{ range $index, $element := (.Paginator 3).Pages.ByPublishDate }} 
        <div class="w-100 mb-3">
          {{ .Render "li-with-desc"}}
        </div>
  {{ end }}
  {{ partial "pagination" . }}
</div>

<script>
  $(".more-container > .img-box").on('click', function(e) {
      e.preventDefault();
      var element = $(this).parent();
      element.toggleClass("animate");
      $(".more-container").not(element).removeClass('animate');
      var hash1 = $(element).children(":first").attr('id');
      console.log(hash1);
      
      // Move when the longer view above is closed and the content goes up
      setTimeout(function(){
    
        // if (!isInView("#".concat(hash1))) {

          $('html, body').animate({
              scrollTop: $("#".concat(hash1)).offset().top
          }, 'slow');
        
        // }
      }, 500);

  });

  function isInView(elem){
   return $(elem).offset().top - $(window).scrollTop() < $(elem).height() ;
  }
</script>
{{end}}